# Herramientas y Agentes
.agents/
.claude/
.gemini/
3_SKILLS_STICH/
5_impeccable/
app_interactiva/
bocetos/
skills-lock.json

# Imágenes de trabajo (No necesarias para la web)
# imagenes/diapositivas/ - Restaurado porque es necesario para el carrusel


# Archivos de sistema y logs
.DS_Store
Thumbs.db
*.log

# Dependencias (si existieran)
node_modules/
package-lock.json
